*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #f3f3f3;
  padding-inline: min(10vw, 400px);
}

nav{
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}

.list{
  display: flex;
  list-style: none;
  margin: 0;
  gap: .5rem;
  background-color: #fff;
  padding-inline: 2rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.list__item{
  display: flex;
}

.list__button{
  color: #484848;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'system-ui', monospace;
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
}

.list__button::after{
  position: absolute;
  content: '';
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #484848;
  transform: translateX(-100%);
  transition: transform .3s ease-in;
}

.list__button:hover::after{
  transform: translateX(0);
}

.products-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem;
  margin-block: 3rem;
}

.item{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  font-family: 'system-ui';
}

.item__number{
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #b2b2b2;
  color: #b2b2b2;
  font-size: .75rem;
}

.item__category{
  text-transform: uppercase;
  color: #b2b2b2;
  font-size: .75rem;
  margin-block: 1rem;
}

.item__title{
  font-size: 3rem;
  color: #484848;
  font-family: Times;
  margin-block: 0;
}

.item__description{
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: .3px;
  color: #bbb;
  font-weight: 300;
  margin-block-start: 1rem;
  margin-block-end: .5rem;

  display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}

.item__image{
  width: 100%;
  aspect-ratio: 1/.65;
  object-fit: cover;
  object-position: center;
  border-radius: .5rem;
  margin-block: .5rem;
}

.item__button{
  background-color: #484848;
  outline: 0;
  border: none;
  color: #eee;
  font-size: .75rem;
  padding: .75rem 1rem;
  border-radius: .5rem;
  align-self: flex-end;
  width: max-content;
  transition: box-shadow .3s ease-in-out;
  cursor: pointer;
  margin-block-start: .5rem;
}

.item__button:hover,
.item__button:focus{
  box-shadow: 0 0 0px 3px #cecece;
}
